.messages
  .upper-message
    .upper-message__name
      = "sao"
    .upper-message__date
      = "%Y年%m月%d日 %H時%M分"
  .lower-message    
    .lower-message__message
      = "Hello world!"

.messages
  .upper-message
    .upper-message__name
      = "neko"
    .upper-message__date
      = "%Y年%m月%d日 %H時%M分"
  .lower-message
    .lower-message__message
      = "Good bye world!"